.homecontent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .elements {
        padding: 3rem 3rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
        gap: 1rem;
        .menuBox {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            width: 247;
            height: 160px;
            border-radius: 7px;
        }
        .add {
            background-color: #ae1212;
            color: #fff;
        } 
        .calendar {
            background-color: #00967eeb;
            color: #fff;
        }
        .saving {
            background-color: #F58800;
            color: #fff;
        }

    }
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #999 radial-gradient(circle, transparent 1%, transparent 1%) center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}
